.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 cards per row */
  gap: 20px;
  /* Space between cards */
  padding: 20px;
  background-color: #f5f5f5;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.card-skeleton {
  width: 250px;
  min-height: 250px;
  background: #e0e0e0;
  border-radius: 8px;
  animation: pulse 1.5s infinite;
}