.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #b43144;
    /* background-color: #1C1C1C; */
    color: white;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    /* Smooth transition for shadow */
}

.navbar.scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.logo {
    height: 40px;
    margin-right: 20px;
    width: 100px;
    align-self: center;
    margin-top: 5px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid white;
}

.share-button {
    background: linear-gradient(135deg, #d5dcfa, #feeaa5, #FFCFCF);
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: white;
<<<<<<< Updated upstream
    font-size: 16px;
=======
    font-size: 23px;
    /* size: 400px; */
>>>>>>> Stashed changes
}

.divider {
    width: 0.5px;
    height: 7.5vh;
    background-color: #fff;
}

.navbar-icons img {
    height: 20px;
}

.share-button-text {
    font-size: 12px;
    font-weight: bold;
}

.help-icon,
.profile-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.google-signin {
    background: white;
    border-radius: 5px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
<<<<<<< Updated upstream
    font-size: 12px;
=======
}

.google-profile-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.join-button {
    background: linear-gradient(135deg, #d5dcfa, #feeaa5, #FFCFCF);
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .join-button-text {
    font-size: 14px;
    font-weight: bold;
  }

.join-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 35vw;
  height: 40vh;
  z-index: 1000;
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
>>>>>>> Stashed changes
}