* {
  font-family: 'Poppins', sans-serif;
}

.app {
  /* background-color: #f5f5f5; */
  /* background-color: #b431451a; */
  /* background-color: #1C1C1C; */
  background-color: rgba(28, 28, 28, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
}

img {
  pointer-events: none;
  /* Disables click and drag actions */
  user-select: none;
  /* Prevents text/image selection */
  -webkit-user-drag: none;
  /* Disables dragging in WebKit browsers */
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  flex-grow: 1;
  margin-top: 8vh;
}

.board {
  margin: 0 auto;
  /* max-width: 1200px; */
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #FDFCFC;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  justify-content: space-evenly;
  position: relative;
}

.empty-board-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #888;
  font-size: 1.2rem;
}

.help-icon {
  position: fixed;
  bottom: 150px;
  right: 60px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #f97373;
  z-index: 1000;
}

.help-popup {
  position: fixed;
  top: 8.5vh;
  right: 60px;
  background-color: #FDFCFC;
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  width: 395px !important;
  padding: 24px 24px 32px;
  z-index: 1000;
  animation: fadeIn 0.2s ease;
}

.help-popup h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #281010;
  margin-bottom: 9px;
  text-align: left;
  position: relative;
  z-index: 1250;
}

.help-popup p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #281010;
  text-align: left;
  line-height: 1.5;
  position: relative;
  z-index: 1250;
}


.help-popup a {
  color: #281010;
  text-decoration: underline;
  position: relative;
  z-index: 1250;
}

.help-mascot {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.create-post-it-button {
  position: absolute;
  bottom: 9%;
  right: 3.5%;
  background-color: var(--navbar-color, #b43144);
  border: none;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1000;

}

.create-post-it-button img {
  width: 42px;
  height: 42px;
  filter: var(--button-filter, brightness(0) invert(1));
}

.create-post-it-button:active {
  background-color: var(--navbar-color, #b43144);
  transform: scale(0.95) !important;
}

.create-post-it-button:hover {
  background-color: var(--navbar-color, #b43144);
  transform: scale(1.01);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(.3rem);
  animation: fadeIn 0.2s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.post-it-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  transform: scale(0.8);
  opacity: 0;
  animation: scaleIn 0.2s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.request-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #281010;
  z-index: 1001;
}

.join-popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #281010;
  z-index: 1001;
  color: #281010;
  animation: fadeIn 0.2s ease;
}

.join-popup-content {
  position: relative;
  display: flex;
  background-color: #FDFCFC;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  width: 395px !important;
  height: 40%;
  padding: 24px 24px 20px;
  z-index: 1000;
  justify-content: center;
}

.join-popup-content h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 42px;
  font-weight: 800;
  color: #281010;
  margin-top: 65px;
  margin-bottom: 8px;
}

.join-popup-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #B39898;
  /* color: #98A2B3; */
  line-height: 1.4;
}

/* Add fade-out class for join modal */
.join-popup-content.fade-out {
  animation: fadeOut 0.2s ease forwards;
}

/* Add scale-out class for request modal */
.post-it-modal.scale-out {
  animation: scaleOut 0.2s ease forwards;
}

.google-signin-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}

.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 16px;
  border: 1.5px solid #281010;
  border-radius: 8px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.google-signin-button:hover {
  background-color: #f8f9fa;
}

.google-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.join-mascot {
  position: absolute;
  top: 22px;
  /* Move above the modal */
  left: 50%;
  transform: translateX(-50%) scaleX(-1);
  width: 70px;
  height: 70px;
  object-fit: contain;
  rotate: -10deg;
}

.title-input,
.content-input {
  width: 100%;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1rem;
  color: #281010;
  outline: none;
  background-color: transparent;
}


.content-input {
  resize: none;
  height: auto;
  margin-top: -10px;
  height: 200px;
}

.title-input {
  font-weight: bold;
  font-size: 16px;
}

.title-input::placeholder,
.content-input::placeholder {
  color: #76746c;
}

.modal-footer {
  border-top: 1px solid rgba(40, 16, 16, 0.5);
  padding-top: 10px;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.char-count {
  font-size: 12px;
  color: #76746c;
}

.post-button {
  background-color: #ccc;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  margin-bottom: -5px;
  cursor: pointer;
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.2s ease;
}

.post-button:active {
  transform: scale(0.95);
}

.post-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.post-button:not(:disabled) {
  background-color: #76746c;
}

.post-button:not(:disabled):hover {
  transform: scale(1.02);
}

.post-button:not(:disabled):active {
  transform: scale(0.95);
}

h1,
h2,
h3,
p {
  font-family: 'Lexend Deca', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

.profile-popup {
  position: fixed;
  top: 7.5vh;
  /* Position directly below the parent element */
  right: 16vh;
  background-color: #FDFCFC;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 250px;
  animation: fadeIn 0.2s ease;
  margin-top: 10px;
}

.profile-popup h2 {
  margin: 2px 0 10px 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #281010;
}

.profile-popup p {
  margin: 8px 0;
}

.profile-popup p:first-of-type {
  color: #2D1810;
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;

}

.profile-popup p:last-of-type {
  color: #9B8B95;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.profile-popup .logout-button {
  background-color: #F15A59;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 6px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.profile-popup .logout-button:hover {
  background-color: #E54847;
  transform: scale(1.03);
}

.profile-popup .logout-button:active {
  transform: scale(0.95);
}

.placeholder-box {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title-input::placeholder {
  font-weight: bold;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.like-button.liked {
  color: red;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #B39898;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.checkbox-container input {
  margin-right: 5px;
}

.reaction-container {
  margin-top: auto;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hide-name-container {
  margin-top: 8px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

}

.hide-name-checkbox {
  color: #B39898;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  display: flex !important;
  align-items: center !important;
}

.hide-name-checkbox .ant-checkbox {
  width: 14px;
  height: 14px;
  top: 0 !important;
  margin-top: -2px;
}

/* Style for the checkbox when checked */
.hide-name-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #76746c !important;
  border-color: #76746c !important;
}

/* Style for the checkbox on hover */
.hide-name-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #76746c !important;
}

.hide-name-text {
  color: #76746c;
  margin-left: 4px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

/* If you also want to adjust the Google sign-in button width */
.google-sign-in-button {
  width: 80%;
  max-width: 300px;
  margin: 20px 0;
}

.share-popup {
  position: fixed;
  top: 8.5vh;
  right: 1vh;
  background-color: #FDFCFC;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 300px;
  animation: fadeIn 0.2s ease-in-out;
}

.share-popup h3 {
  color: #2D1810;
  font-size: 18px;
  margin: 0 0 12px 0;
  font-weight: bold;
}

.share-popup .link-container {
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #281010;
  word-break: break-all;
}

.share-popup .link-container span {
  color: #645d5d;
  font-size: 14px;
}

.link-text {
  cursor: pointer;
  user-select: text;
  transition: background-color 0.3s;
}

.link-text::selection {
  background-color: #FF8E87;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Add scaleOut keyframes */
@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}