/* cursor version */
* {
  font-family: 'Poppins', sans-serif;
}

.app {
  /* background-color: #f5f5f5; */
  /* background-color: #b431451a; */
  /* background-color: #1C1C1C; */
  background-color: rgba(28, 28, 28, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  flex-grow: 1;
  margin-top: 8vh;
}

.board {
  margin: 0 auto;
  /* max-width: 1200px; */
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #FDFCFC;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-y: auto;
  justify-items: center;
}

.empty-board-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #888;
  font-size: 1.2rem;
}

.help-icon {
  position: fixed;
  bottom: 150px;
  right: 60px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #f97373;
  z-index: 1000;
}

.help-popup {
  position: absolute;
  top: 60px; /* Adjust this value to position it directly under the help icon */
  right: 60px; /* Align it with the help icon */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  z-index: 1000;
  text-align: center;
}

.help-popup h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.help-popup a {
  color: #f97373;
  text-decoration: none;
}

.help-popup .placeholder-graphic {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 15px;
}

.create-post-it-button {
  position: absolute;
  bottom: 9%;
  right: 3.5%;
  background-color: #b43144;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1000;
}

.create-post-it-button img {
  width: 24px;
  height: 24px;
}

.create-post-it-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(1px);
}

.post-it-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.close-modal-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #281010;
}

.title-input,
.content-input {
  width: 100%;
  border: none;
  margin-bottom: 5px;
  /* padding: 5px; */
  font-size: 1rem;
  color: #281010;
  outline: none;
  background-color: transparent;
}


.content-input {
  resize: none;
  height: auto;
  margin-top: -10px;
  height: 200px;
}

.title-input {
  font-weight: bold;
  font-size: 16px;
}

.title-input::placeholder,
.content-input::placeholder {
  color: #76746c;
}

.modal-footer {
  border-top: 1px solid rgba(40, 16, 16, 0.5);
  padding-top: 10px;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.char-count {
  font-size: 12px;
  color: #76746c;
}

.post-button {
  background-color: #ccc;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  margin-bottom: -5px;
  cursor: pointer;
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.2s ease;
}

.post-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.post-button:not(:disabled) {
  background-color: #76746c;
}


.post-button:not(:disabled):hover {
  transform: scale(1.02);
}

/* Change to lexend deca */
h1,
h2,
h3,
p {
  font-family: 'Lexend Deca', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

.profile-popup {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
}

.logout-button {
  background-color: #f97373;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.question-popup {
  position: absolute;
  top: 60px;
  /* Adjust based on your navbar height */
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;
}

.placeholder-box {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title-input::placeholder {
  font-weight: bold;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.like-button.liked {
  color: red;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #B39898;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.checkbox-container input {
  margin-right: 5px;
}

.reaction-container {
  margin-top: auto;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hide-name-container {
  margin-top: 8px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

}

.hide-name-checkbox {
  color: #B39898;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  display: flex !important;
  align-items: center !important;
}

.hide-name-checkbox .ant-checkbox {
  width: 14px;
  height: 14px;
  top: 0 !important;
  margin-top: -2px;
}

/* Style for the checkbox when checked */
.hide-name-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #76746c !important;
  border-color: #76746c !important;
}

/* Style for the checkbox on hover */
.hide-name-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #76746c !important;
}

.hide-name-text {
  color: #76746c;
  margin-left: 4px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}